@model RentalVehicle.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FuleTypeID" class="control-label"></label>
                <select asp-for="FuleTypeID" class ="form-control" asp-items="ViewBag.FuleTypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="CarCategoryID" class="control-label"></label>
                <select asp-for="CarCategoryID" class ="form-control" asp-items="ViewBag.CarCategoryID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlateNumber" class="control-label"></label>
                <input asp-for="PlateNumber" class="form-control" />
                <span asp-validation-for="PlateNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalPricePerDay" class="control-label"></label>
                <input asp-for="RentalPricePerDay" class="form-control" />
                <span asp-validation-for="RentalPricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ISAvailabelForRent" /> @Html.DisplayNameFor(model => model.ISAvailabelForRent)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label">Image</label>
                <input asp-for="Image" accept="Image/*" type="file" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransmissionType" class="control-label"></label>
                <input asp-for="TransmissionType" class="form-control" />
                <span asp-validation-for="TransmissionType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsCount" class="control-label"></label>
                <input asp-for="SeatsCount" class="form-control" />
                <span asp-validation-for="SeatsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
