<link href="~/css/accessdenied.css" rel="stylesheet" /> 
@* <div class="d-flex justify-content-center align-items-center vh-100"> *@
    <div class="access-denied-container text-center">
        <h1>403</h1>
        <h2>Access Denied</h2>
        <p>You do not have permission to access this page.</p>
        <a asp-controller="Home" asp-action="Index" class="home-button btn btn-primary">Go to Homepage</a>
    </div>
@* </div> *@